<%layout('./layout/page') %>
<%block('title', 'Blog')%>

<div class="content_center">
    <div class="heading-box">
        <h2 class="heading">Blog</h2> |
        Pellentesque fermentum neque vel nisl auctor eget tincidunt mi vehicula.
    </div>

    <h2><a href="blog-single.html">Fusce at velit nibh</a></h2>
    <div class="post-box">
        <div class="text-box">
            <p>Cras viverra vulputate accumsan. Curabitur euismod lobortis nisi eget tempor. Integer elit quam, commodo et rutrum non, faucibus sed nisi. In placerat tempor tellus eu dignissim. Vivamus commodo nibh eget nibh tempus a suscipit neque elementum. Vestibulum non rhoncus libero. In placerat tempor tellus eu dignissim. Curabitur euismod lobortis nisi eget tempor.</p>
            <div class="wrap">
                <a href="blog-single.html" class="btn-black"><span>Read more...</span></a>
                <a href="#" class="btn-green"><span>Share this...</span></a>
            </div>
        </div>
    </div>

    <h2><a href="blog-single.html">Cras eleifend, massa dapibus faucibus</a></h2>

    <div class="post-box">
        <div class="text-box">
            <p>Vestibulum quis urna sed nisi convallis ultrices nec eu augue. Quisque rhoncus nisl vel mi tempor aliquam. In hac habitasse platea dictumst. Ut ac ipsum arcu. Aliquam consectetur fringilla magna, eget tincidunt lorem laoreet nec. Nunc hendrerit condimentum massa, a facilisis ligula volutpat non. Maecenas vitae nisi tortor.</p>
            <div class="wrap">
                <a href="blog-single.html" class="btn-black"><span>Read more...</span></a>
                <a href="#" class="btn-green"><span>Share this...</span></a>
            </div>
        </div>
    </div>

    <h2><a href="blog-single.html">Fusce at velit nibh</a></h2>
    <div class="post-box">
        <div class="text-box">
            <p>Cras viverra vulputate accumsan. Curabitur euismod lobortis nisi eget tempor. Integer elit quam, commodo et rutrum non, faucibus sed nisi. In placerat tempor tellus eu dignissim. Vivamus commodo nibh eget nibh tempus a suscipit neque elementum. Vestibulum non rhoncus libero. In placerat tempor tellus eu dignissim. Curabitur euismod lobortis nisi eget tempor.</p>
            <div class="wrap">
                <a href="blog-single.html" class="btn-black"><span>Read more...</span></a>
                <a href="#" class="btn-green"><span>Share this...</span></a>
            </div>
        </div>
    </div>

    <h2><a href="blog-single.html">Cras eleifend, massa dapibus faucibus</a></h2>

    <div class="post-box">
        <div class="text-box">
            <p>Vestibulum quis urna sed nisi convallis ultrices nec eu augue. Quisque rhoncus nisl vel mi tempor aliquam. In hac habitasse platea dictumst. Ut ac ipsum arcu. Aliquam consectetur fringilla magna, eget tincidunt lorem laoreet nec. Nunc hendrerit condimentum massa, a facilisis ligula volutpat non. Maecenas vitae nisi tortor.</p>
            <div class="wrap">
                <a href="blog-single.html" class="btn-black"><span>Read more...</span></a>
                <a href="#" class="btn-green"><span>Share this...</span></a>
            </div>
        </div>
    </div>

    <h2><a href="blog-single.html">Fusce at velit nibh</a></h2>
    <div class="post-box">
        <div class="text-box">
            <p>Cras viverra vulputate accumsan. Curabitur euismod lobortis nisi eget tempor. Integer elit quam, commodo et rutrum non, faucibus sed nisi. In placerat tempor tellus eu dignissim. Vivamus commodo nibh eget nibh tempus a suscipit neque elementum. Vestibulum non rhoncus libero. In placerat tempor tellus eu dignissim. Curabitur euismod lobortis nisi eget tempor.</p>
            <div class="wrap">
                <a href="blog-single.html" class="btn-black"><span>Read more...</span></a>
                <a href="#" class="btn-green"><span>Share this...</span></a>
            </div>
        </div>
    </div>

    <h2><a href="blog-single.html">Cras eleifend, massa dapibus faucibus</a></h2>

    <div class="post-box">
        <div class="text-box">
            <p>Vestibulum quis urna sed nisi convallis ultrices nec eu augue. Quisque rhoncus nisl vel mi tempor aliquam. In hac habitasse platea dictumst. Ut ac ipsum arcu. Aliquam consectetur fringilla magna, eget tincidunt lorem laoreet nec. Nunc hendrerit condimentum massa, a facilisis ligula volutpat non. Maecenas vitae nisi tortor.</p>
            <div class="wrap">
                <a href="blog-single.html" class="btn-black"><span>Read more...</span></a>
                <a href="#" class="btn-green"><span>Share this...</span></a>
            </div>
        </div>
    </div>

</div>